<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.praktek.kuis_rambu_lalu_lintas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kuis Rambu Lalu Lintas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/Theme.Kuis_Rambu_Lalu_Lintas">
        <activity android:name=".Peringatan.Quis_Peringatan" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Taugaksih.Detail_Taugaksih" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Score_Salah_Actvity" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Score_Activity_5" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Score_Activity_4" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Score_Activity_3" android:screenOrientation="portrait"  />
        <activity android:name=".bermain.Level_5" android:screenOrientation="portrait"  />
        <activity android:name=".bermain.Level_4" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Level_3" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Score_Activity_2" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Level_2" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Level_1" android:screenOrientation="portrait"  />
        <activity android:name=".About_Activity" android:screenOrientation="portrait" />
        <activity android:name=".bermain.Score_Activity" android:screenOrientation="portrait" />
        <activity
            android:name=".Taugaksih.Data_TauGakSih"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Peringatan.Data_Peringatan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Larangan.Detail_Larangan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Peringatan.Detail_Peringatan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Perintah.Detail_Perintah"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Petunjuk.Detail_Rambu_Petunjuk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Larangan.Data_Larangan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Perintah.Data_Perintah"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Petunjuk.PetunjukData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bermain.Mulai_Bermain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Informasi_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>